[submodule "src/v4d/core"]
	path = src/v4d/core
	url = git@github.com:Vulkan4D/v4d_core.git
[submodule "tools"]
	path = tools
	url = git@github.com:Vulkan4D/v4d_tools.git
[submodule "src/openssl"]
	path = src/openssl
	url = git@github.com:openssl/openssl.git
	branch = OpenSSL_1_1_0-stable
[submodule "src/v4d/xvk"]
	path = src/v4d/xvk
	url = git@github.com:Vulkan4D/xvk.git
